@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
button {
  border: none;
}

.btn1 {
  padding: 17px 30px;
  background: transparent;
  transition: 0.5s;
  color: #000;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  background: #000 !important;
  color: white;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: "";
  border: 1em solid #000000;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
header {
  top: 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
  padding: 15px 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 22px;
  font-weight: 700;
  padding: 25px;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}
.navbar-links ul li {
  list-style: none;
  padding: 0 25px;
}
.navbar-links ul li a {
  transition: 0.5s !important;
  color: dimgray;
}
.navbar-links ul li a:hover {
  color: black;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: 0.5s;
}

.bar {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.toggle-button .bar::after {
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    transition: 0.5s;
    position: fixed;
    background: whitesmoke;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    flex-direction: column;
    padding-top: 10px;
  }
  .navbar-links ul li {
    text-align: center;
    padding: 20px 0;
  }
  .navbar-links.active {
    display: flex;
  }
  .home {
    padding-top: 70px !important;
  }
}
.navbar-shrink {
  box-shadow: 0 0 5px #FF8A56;
  padding: 5px !important;
}

/*FONT*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.container-sm {
  max-width: 1400px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 17px !important;
  padding-right: 17px !important;
}

a {
  text-decoration: none !important;
}

@media (max-width: 992px) {
  .container-sm {
    max-width: 960px;
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container-sm {
    max-width: 540px !important;
  }
}
header {
  top: 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
  padding: 15px 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 22px;
  font-weight: 700;
  padding: 25px;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}
.navbar-links ul li {
  list-style: none;
  padding: 0 25px;
}
.navbar-links ul li a {
  transition: 0.5s !important;
  color: dimgray;
}
.navbar-links ul li a:hover {
  color: black;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: 0.5s;
}

.bar {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.toggle-button .bar::after {
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    transition: 0.5s;
    position: fixed;
    background: whitesmoke;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    flex-direction: column;
    padding-top: 10px;
  }
  .navbar-links ul li {
    text-align: center;
    padding: 20px 0;
  }
  .navbar-links.active {
    display: flex;
  }
  .home {
    padding-top: 70px !important;
  }
}
.navbar-shrink {
  box-shadow: 0 0 5px #FF8A56;
  padding: 5px !important;
}

button {
  border: none;
}

.btn1 {
  padding: 17px 30px;
  background: transparent;
  transition: 0.5s;
  color: #000;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  background: #000 !important;
  color: white;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: "";
  border: 1em solid #000000;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.home {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.home__left {
  flex: 50%;
  width: 100%;
}
.home__left__text {
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 2px;
  max-width: 620px;
}
.home__left .coloured {
  color: #FF8A56 !important;
  padding-bottom: 5px;
}
.home__left__desc {
  padding-top: 20px;
  max-width: 430px;
  color: #666666;
  line-height: 25px;
}
.home__left__links {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}
.home__right {
  flex: 50%;
  width: 100%;
}/*# sourceMappingURL=index.css.map */