@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
button {
  border: none;
}

.btn1 {
  padding: 17px 30px;
  background: transparent;
  transition: 0.5s;
  color: #000;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  background: #000 !important;
  color: white;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: "";
  border: 1em solid #130f0f;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
header {
  top: 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
  padding: 15px 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 22px;
  font-weight: 700;
  padding: 25px;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}
.navbar-links ul li {
  list-style: none;
  padding: 0 25px;
}
.navbar-links ul li a {
  transition: 0.5s !important;
  color: dimgray;
}
.navbar-links ul li a:hover {
  color: black;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: 0.5s;
}

.bar {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.toggle-button .bar::after {
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    transition: 0.5s;
    position: fixed;
    background: whitesmoke;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    flex-direction: column;
    padding-top: 10px;
  }
  .navbar-links ul li {
    text-align: center;
    padding: 20px 0;
  }
  .navbar-links.active {
    display: flex;
  }
  .home {
    padding-top: 70px !important;
  }
}
.navbar-shrink {
  box-shadow: 0 0 5px #c8c8c8;
  padding: 5px 0 !important;
}

/*FONT*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.container-sm {
  max-width: 1400px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 17px !important;
  padding-right: 17px !important;
}

a {
  text-decoration: none !important;
}

@media (max-width: 992px) {
  .container-sm {
    max-width: 960px;
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .container-sm {
    max-width: 540px !important;
  }
}
header {
  top: 0;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
  padding: 15px 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-size: 22px;
  font-weight: 700;
  padding: 25px;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}
.navbar-links ul li {
  list-style: none;
  padding: 0 25px;
}
.navbar-links ul li a {
  transition: 0.5s !important;
  color: dimgray;
}
.navbar-links ul li a:hover {
  color: black;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.toggle-button {
  position: absolute;
  top: 25px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition: 0.5s;
}

.bar {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.toggle-button .bar::after {
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    transition: 0.5s;
    position: fixed;
    background: whitesmoke;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    flex-direction: column;
    padding-top: 10px;
  }
  .navbar-links ul li {
    text-align: center;
    padding: 20px 0;
  }
  .navbar-links.active {
    display: flex;
  }
  .home {
    padding-top: 70px !important;
  }
}
.navbar-shrink {
  box-shadow: 0 0 5px #c8c8c8;
  padding: 5px 0 !important;
}

button {
  border: none;
}

.btn1 {
  padding: 17px 30px;
  background: transparent;
  transition: 0.5s;
  color: #000;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}

.btn1:hover {
  background: #000 !important;
  color: white;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before, .loader:after {
  content: "";
  border: 1em solid #130f0f;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.home {
  display: flex;
  align-items: center;
  padding-top: 50px;
  gap: 100px;
}
.home__left {
  flex: 50%;
}
.home__left__text {
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 2px;
  max-width: 620px;
}
.home__left .coloured {
  color: #FF8A56 !important;
  padding-bottom: 5px;
}
.home__left__desc {
  padding-top: 20px;
  max-width: 430px;
  color: #666666;
  line-height: 25px;
}
.home__left__links {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}
.home__right {
  flex: 50%;
}
.home__right__img {
  max-width: 500px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
    gap: 0;
  }
  .home__left {
    flex: 100%;
    align-items: center !important;
    justify-content: center !important;
  }
  .home__right {
    flex: 100%;
    align-items: center !important;
    justify-content: center !important;
  }
}
#services {
  padding-top: 50px;
}
#services .title {
  color: #FF5E69;
  text-align: center;
  padding-bottom: 10px;
}
#services .desc {
  text-align: center;
  max-width: 750px;
  font-size: 54px;
  margin: 0 auto;
}
#services .services {
  padding-top: 100px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  align-content: center !important;
}
#services .services__first {
  display: flex;
  flex: 33.3%;
  flex-direction: column;
}
#services .services__second {
  display: flex;
  flex: 33.3%;
  flex-direction: column;
}
#services .services__third {
  display: flex;
  flex: 33.3%;
  flex-direction: column;
}
#services .services img {
  width: 70px;
  height: 70px;
}
#services .services .service-title {
  padding-top: 40px;
}
#services .services .service-desc {
  padding-top: 20px;
  max-width: 270px;
}
#services .services ul {
  padding-top: 40px;
  padding-left: 15px;
}
#services .services ul li {
  list-style: square;
  font-size: 17px;
  color: black;
}

@media screen and (max-width: 1000px) {
  .services {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media screen and (max-width: 600px) {
  .services {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center !important;
    align-items: center !important;
    gap: 60px;
  }
}
.projects {
  padding-top: 120px;
}
.projects .project-title {
  color: #B16CEA;
  padding-bottom: 10px;
}
.projects .title-div {
  display: flex;
  justify-content: space-between;
}
.projects .title-div .titles {
  font-size: 50px;
}
.projects .title-div .title-link {
  display: flex;
  align-items: center;
}
.projects .projects-box {
  display: flex;
  padding-top: 70px;
}
.projects .projects-box .box .img {
  max-width: 500px;
  width: 100%;
  height: 305px;
}
.projects .projects-box .box .inner-box {
  padding-left: 30px;
  padding-top: 30px;
}
.projects .projects-box .box__name {
  color: #323579;
  padding-bottom: 10px;
}
.projects .projects-box .box__linnk {
  display: inline-flex;
  transition: 0.5s;
  padding-top: 10px;
  align-items: center;
  gap: 10px;
}
.projects .projects-box .box__linnk:hover .views-link {
  color: #FF5E69;
}
.projects .projects-box .box__linnk:hover .views-right {
  filter: invert(59%) sepia(35%) saturate(5388%) hue-rotate(319deg) brightness(100%) contrast(108%) !important;
}
.projects .projects-box .box__linnk .views-link {
  transition: 0.5s;
  color: black;
}
.projects .projects-box .box__linnk .views-right {
  transition: 0.5s;
}
.projects .carousel {
  display: flex;
  gap: 5px;
  padding-top: 60px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
.projects .carousel .carousel-item {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #000;
}

.first-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.last-carousel {
  display: none;
}

@media screen and (min-width: 1000px) {
  .title-link {
    padding-right: 120px;
  }
  .last-carousel {
    display: none;
  }
  .services {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .first-carousel,
.last-carousel {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    gap: 60px;
  }
  .img {
    max-width: 400px !important;
    width: 100% !important;
  }
  .carousel {
    justify-content: center !important;
  }
  .last-carousel {
    display: none;
  }
}
.products {
  padding-top: 150px;
}
.products__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.products__header__left__title1 {
  color: #FF5E69;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 22px;
}
.products__header__left__title2 {
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 1px;
}
.products__header__right__desc {
  color: #666666;
  max-width: 500px;
  font-weight: 400;
  font-size: 17px;
}
.products .main-pic {
  width: 100%;
  max-height: 900px;
  height: 100%;
}

.indicators {
  display: flex;
  gap: 22px;
}
.indicators img {
  max-width: 100%;
  width: 210px;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#education-and-work .eaw {
  display: flex;
  align-items: center;
  padding-top: 100px;
  gap: 50px;
}
#education-and-work .eaw #education {
  display: flex;
  flex-direction: column !important;
  flex: 50%;
  gap: 20px;
}
#education-and-work .eaw #experience {
  display: flex;
  flex-direction: column !important;
  flex: 50%;
  gap: 20px;
}
#education-and-work .eaw span {
  font-weight: 400;
  font-size: 25px;
  padding-bottom: 70px;
}
#education-and-work .eaw .edu {
  border-bottom: 1px solid #E5E5E5;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
#education-and-work .eaw .edu:hover {
  transform: scale(1.1);
  z-index: 2;
}
#education-and-work .eaw .edu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
#education-and-work .eaw .edu__name h3 {
  font-weight: 700;
  font-size: 24px;
}
#education-and-work .eaw .edu__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
#education-and-work .eaw .edu__desc p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}
#education-and-work .eaw .edu__desc .data {
  padding-right: 50px;
}

@media screen and (max-width: 1000px) {
  .eaw {
    display: flex;
    flex-direction: column;
    gap: 90px !important;
  }
  .eaw span {
    padding-bottom: 20px !important;
  }
  #education {
    display: flex;
    flex: 100%;
    width: 90%;
  }
  #experience {
    display: flex;
    flex: 100%;
    width: 90%;
  }
}
.testimonial {
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonial__title {
  color: #4353FF;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 4px;
}
.testimonial__title2 {
  font-weight: 700;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.testimonial__box {
  display: flex;
  gap: 20px;
}
.testimonial__box__left {
  display: flex;
  flex: 50%;
  flex-direction: column;
}
.testimonial__box__left img {
  max-width: 485px;
  width: 100%;
}
.testimonial__box__right {
  display: flex;
  flex: 50%;
  flex-direction: column;
}
.testimonial__box__right img {
  width: 45px;
  height: 45px;
}
.testimonial__box__right__content {
  font-weight: 700;
  font-size: 36px;
  max-width: 580px;
  padding-top: 30px;
}
.testimonial__box__right__content2 {
  display: none;
  font-weight: 700;
  font-size: 36px;
  max-width: 580px;
  padding-top: 30px;
}
.testimonial__box__right .testimonial-carousel {
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
.testimonial__box__right .carousel {
  display: flex;
  gap: 10px;
  align-items: center !important;
  padding-right: 50px;
}
.testimonial__box__right .carousel-item {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  background: #000;
}
.testimonial__box__right .carousel-item img {
  width: 10px;
  height: 15px;
}

@media screen and (max-width: 1000px) {
  .testimonial__box {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .testimonial__box .testimonial__box__left {
    display: flex;
    flex: 100% !important;
    width: 100% !important;
  }
  .testimonial__box .testimonial__box__left img {
    max-width: 100%;
  }
  .testimonial__box .testimonial__box__right {
    display: flex;
    flex: 100% !important;
    width: 100% !important;
  }
  .testimonial__box .testimonial__box__right .testimonial__box__right__content, .testimonial__box .testimonial__box__right .testimonial__box__right__content2 {
    max-width: 100%;
  }
  .testimonial__box .testimonial-carousel {
    padding-top: 40px !important;
  }
}
.transition {
  transition: ease-in-out 0.5s;
}

#faq {
  background: #000;
}
#faq .faq__title {
  color: #FF5E69;
  padding-top: 70px;
  text-align: center;
  letter-spacing: 4px;
}
#faq .faq__title2 {
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  color: white;
  padding-top: 10px;
  padding-bottom: 70px;
}
#faq .faq__box {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
#faq .faq__box__box1 {
  display: flex;
  flex: 50%;
  flex-direction: column;
}
#faq .faq__box__box2 {
  display: flex;
  flex: 50%;
  flex-direction: column;
}
#faq .faq__box__inner {
  display: flex;
  gap: 100px;
  justify-content: space-between !important;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.3);
}
#faq .faq__box__inner .question {
  color: white;
  font-size: 24px;
  letter-spacing: 0.3px;
}
#faq .faq__box__inner img {
  width: 15px !important;
  height: 10px !important;
}/*# sourceMappingURL=index.css.map */