@import "../abstracts/variables";
button {
  border: none;
}

.btn1{
  padding: 17px 30px;
  background: transparent;
  transition: $transition-time;
  color: #000;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}
.btn1:hover{
  background: #000 !important;
  color: white;
}
