@import "../abstracts/variables";
@import "../components/buttons";
@import "../components/carousel";
@import "../components/loader";

/*FONTS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container-sm{
  max-width: 1200px !important;
  @media screen and(min-width:500px) {
  padding: 0 70px;
  }
}

a {
  text-decoration: none !important;
}

